*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 40px;
  font-family: 'Open Sans', 'sans-serif';
  background-color: #fff;
  color: coral;
}

h1, p {
  margin: 10px 10px 10px 10px;
}

.wrapper {
  max-width: 940px;
  margin: 0 20px;
  display: grid;
  grid-gap: 30px;
}

@media screen and (min-width: 600px) {
  .block-a, .block-b, .block-c, .block-d, .block-e {
    float: left;
    width: 19.1489%;
  }

  .content {
    float: right;
    width: 79.7872%;
  }

  .wrapper {
    margin: 0 auto;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: minmax(60px, auto);;
  }
  
  .header, .footer {
    grid-column: 1 / -1;
    clear: both;
  }
  
  .block-a{
    grid-column: 1;
    grid-row: 2;
  }
  
  .block-b {
    grid-column: 1;
    grid-row: 3;
  }
  
  .block-c {
    grid-column: 1;
    grid-row: 4;
  }
  .block-d{
    grid-column: 1;
    grid-row:5;
  }
  .block-e{
    grid-column:1;
    grid-row:6;
  }
  #user{
    color: aqua;
  }
  
  .content {
    grid-column: 2;
    grid-row: 2 / 7;
  }

}

.wrapper > * {
  background-color: #343434;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 120%;
  margin-bottom: 10px;
}

@supports (display: grid) {
  .wrapper > * {
    width: auto;
    margin: 0;
  }
}